@font-face {
  font-family: Font-Bold;
  src: url('fonts/Overpass-Bold.ttf');
}

@font-face {
  font-family: Font-Medium;
  src: url('fonts/Overpass-Regular.ttf');
}

@font-face {
  font-family: Font-Light;
  src: url('fonts/Overpass-Light.ttf');
}

@font-face {
  font-family: Cursive-Medium;
  src: url('fonts/DancingScript-Regular.ttf');
}


body{
  --bg: #e0d3de;
  --main: #453741;
  --high: #5b8c5a;
  --acc-1: #e3655b;
  --acc-2: #cfd186;

  --display-padding: 0.5rem;
  --section-size: 65vh;

  --fs-small: clamp(1rem, 2.5vw, 1.25rem);
  --fs-text: clamp(1.6rem, 2vw, 1.5rem);
  --fs-xl: clamp(2rem, 4vw, 2.5rem);

  background: var(--bg);
  color: var(--main);
  border-top: 6px solid var(--main);
  font-family: Font-Medium;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.filler-image-container{
  aspect-ratio: 2/3;
}

