#home{
  --pad: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 var(--pad) 0;
  gap: 4rem;
}

#home > .banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#home > .banner > .h-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height:clamp(2em, 2.5vw, 3em);
  position: relative;
}

#home .leaf-group{
  position: absolute;
  top: 0;
}

#home .leaf-group[data-pos="left"]{
  left: 15%;
  transform: translateY(-15px);
}

#home .leaf-group[data-pos="right"]{
  left: 75%;
  transform: rotate(15deg);
}

#home .leaf-group > span{
  display: inline-block;
  position: absolute;
  height: 100px;
  width: 100px;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url("./svg/extras/LeafDARK.svg");
  transform: scale(0.5);
  opacity: 0.2;
}

#home .leaf-group > span:nth-child(2){
  transform: translate(50px, -55px) rotate(30deg) scale(0.5)
}

#home .leaf-group > span:nth-child(3){
  transform: translate(-50px, -35px) rotate(-100deg) scale(0.5);
}

.call-to-act{
  background-color: var(--high);
  color: var(--bg);
  border-radius: 4px;
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: inset 9px 9px 0px #578656,
              inset -9px -9px 0px #5f925e;
  transition: all 0.5s ease;
}

.call-to-act:hover{
  opacity: 0.8;
  transform: translateY(-7.5px);
}

.banner-image{
  width: 325px;
}

.banner-image > img{
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  box-shadow:  50px 50px 63px #a49aa2,
              -50px -50px 63px #ffffff;
}


@media only screen and (min-width: 500px) {
  .banner-image{
    width: 450px;
  }
}

@media only screen and (min-width: 850px) {
  #home{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1100px) {
  .banner-image{
    width: 550px;
  }
}