header{
  display: flex;
  height: 100px;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--main);
  font-family: Font-Bold;
  z-index: 1;
  position: relative;
  border-top: 3px solid var(--main);
  margin-top: 3px;
}

#mobile-overlay{
  position: absolute;
  font-size: var(--fs-text);
  font-family: Font-Bold;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  height: 100svh;
  width: 100vw;
  transition: 0.5s ease;
  overflow: none;
  background-color: var(--main);
  color: var(--bg);
  z-index: 1;
}

#mobile-overlay, .nav-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile-overlay > .nav-list{
  gap: var(--display-padding);
}

#mobile-overlay[aria-expanded="true"]{
  opacity: 1;
  visibility: visible;
}

#toggle-icon{
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 1rem;
  transition: 0.5s ease;
  top: 0;
  right: 0;
}

#toggle-icon[aria-expanded="true"]{
  transform: rotate(90deg);
}

#toggle-icon > span,
#toggle-icon > span::after,
#toggle-icon > span::before{
  display: block;
  content: '';
  height: 4px;
  width: 40px;
  background-color: var(--main);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

#toggle-icon > span::before{
  transform: translate(-50%, -400%);
}

#toggle-icon > span::after{
  transform: translate(-50%, 325%);
}

#toggle-icon[aria-expanded="true"] > span{
  background-color: var(--bg);
  transform: translate(-50%, 0%) rotate(45deg);
}

#toggle-icon[aria-expanded="true"] > span::after,
#toggle-icon[aria-expanded="true"] > span::before{
  background-color: var(--bg);
  transform: translate(-50%, 0%);
}

#logo{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#logo > img{
  height: 100%;
  aspect-ratio: 1/1;
}

#desktop-nav-list{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

#desktop-nav-list > ul{
  display: none;
  gap: clamp(1em, 2.5vw, 2em);
  font-size: var(--fs-small);
}

#desktop-nav-list > ul > li{
  white-space: nowrap;
}

@media only screen and (min-width: 600px) {
  #desktop-nav-list > ul{
    display: flex;
  }

  #toggle-icon{
    display: none;
  }
}