header{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: var(--display-padding) 1rem var(--display-padding) 1rem;
  color: var(--main);
  z-index: 1;
}

#mobile-overlay{
  position: absolute;
  font-size: var(--fs-text);
  opacity: 0;
  visibility: hidden;
  background-color: white;
  height: 100svh;
  width: 100vw;
  transition: 0.5s ease;
  overflow: none;
  background-color: var(--main);
  color: var(--bg);
  z-index: 1;
}

#mobile-overlay, .nav-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-list{
  gap: var(--display-padding);
}

#mobile-overlay[aria-expanded="true"]{
  opacity: 1;
  visibility: visible;
}

#logo{
  height: 100%
}

#logo > img{
  height: 100%;
  aspect-ratio: 1/1;
}

#toggle-icon{
  width: 40px;
  height: 40px;
  position: relative;
  transition: 0.5s ease;
  top: 0;
}

#toggle-icon[aria-expanded="true"]{
  transform: rotate(90deg);
}

#toggle-icon > span,
#toggle-icon > span::after,
#toggle-icon > span::before{
  display: block;
  content: '';
  height: 4px;
  width: 40px;
  background-color: var(--main);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

#toggle-icon > span::before{
  transform: translate(-50%, -400%);
}

#toggle-icon > span::after{
  transform: translate(-50%, 325%);
}

#toggle-icon[aria-expanded="true"] > span{
  background-color: var(--bg);
  transform: translate(-50%, 0%) rotate(45deg);
}

#toggle-icon[aria-expanded="true"] > span::after,
#toggle-icon[aria-expanded="true"] > span::before{
  background-color: var(--bg);
  transform: translate(-50%, 0%);
}
